
<div id='linkContainer' *ngIf="linkNameList[0]?.allMapContents">
	<ul class='row'>
		<!-- Navigoinnin linkit -->
		<li class='col-sm' *ngFor='let link of linkNameList[0]?.allMapContents.mapPages; index as i'
		[style.background-color]="link.pageName == selectedContentName || hovered == link ? '#FFFFFF' : '#005b8c'">
			<button type="button"  class='linkList' (click)='setPageContent(link.pageName, i)'
			(mouseover)="hovered = link" (mouseout)="hovered = -1"
			[style.color]="link.pageName == selectedContentName || hovered == link ? '#005b8c' : '#FFFFFF'">
				{{ link.pageName }}
			</button>
		</li>

	</ul>
</div>

<app-map-content></app-map-content>
