#linkContainer2{
	max-width: 100%;
	min-height: 100%;
	margin: 30px 0 5px 0;
}
.row {
	padding: 0;
	margin: 0;
}
.rowContainer {
	margin: 0 auto;
}
.col {
	padding: 0;
	margin: 0;
}
.pageTitle {
	width: 100%;
	overflow: visible;
	margin: 0 40px 0 20px;
	padding: 0 40px 0 20px;
	text-align: left;
	font-weight: bold;
}
.pageTitle h2 {
	font-weight: bold;
}
.subName {
	padding: 6px 0 0 0;
}
.subTitleText {
	color: #333333;
	margin: 0 0 15px 5px;
}
.frontPageText {
	color: #333333;
}
.backArrow {
	color: black;
}
.backArrowContainer {
	width: 400px;
	margin: 0 auto;
	text-align: left;
}
.picContainer {
	padding: 0 0 0 30px;
}
ul {
	text-align: left;
	width: 100%;
	overflow: visible;
	padding: 0 0 0 40px;
	display: block;
}
.styledList {
	list-style-type: none;
	background-color: RGBA(116,118,121,0.1); /*JAMK harmaa 10%*/
	margin: 5px 10px 0 0;
	min-width: 50%;
	overflow: auto;
	padding: 4px 0 4px 10px;
}
.indent {
	margin: 0 5px 0 15px;
}
.widerList {
	width: 100%;
	padding: 0 0 0 0;
}
.widerListItem {
	width: 80%;
	padding-top: 10px;
}
.widerListItem a {
	color: #005b8c; /* JAMK sininen */
}
.widerListH {
	color: #393d3f;
	font-weight: bold;
	font-size: 16px;
}
.linkList {
	color: #005b8c; /* JAMK sininen */
	width: 100%;
	font-size: 16px;
	letter-spacing: 0.2px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	text-align: left;
}
.linkList:hover {
	color: #d80073; /* JAMK pinkki */
	text-decoration: underline;
}
.linkList:focus {
	outline: none;
}
.explIcon {
	font-size: small; 
	padding: 10px 3px 0 0;
}
.explIcons {
	font-size: small; 
	margin: 0;
}
.listIcons {
	font-size: small; 
	float: right; 
	padding: 0 5px 0 0;
}
@media (min-width: 891px) {
	.widerListItem {
		width: 100%;
	}
	#linkContainer2{
		min-height: 100%;
		margin-top: 30px;
	}
	.rowContainer {
		width: 70%;
		margin: 0 auto;
	}
}
@media (max-width: 890px) and (min-width: 575px) {
	ul {
		padding: 0;
		margin: 0;
	}
	.pageTitle {
		overflow: visible;
		margin: 0 40px 0 0;
		padding: 0 40px 0 0;
	}
	.widerListItem {
		width: 95%;
	}
}
@media (max-width: 574px) {
	ul {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	li {
		min-width: 100%;
		padding: 4px 0 4px 4px;
	}
	.indent {
		margin-left: 0;
	}
	.linkList {
			font-size: 15px;
	}
	#linkContainer{
		max-width: 100%;
		min-height: 20px;
		margin: 20px 0 0 0;
		overflow: visible;
	}
	.pageTitle {
		width: 100%;

		margin: 0 40px 0 0;
		padding: 0 40px 0 0;
	}
	.col-5 {
		width: 50%;
		padding-right: 7px;
		padding-left: 7px;
	}
	.col-7 {
		width: 50%;
		padding-right: 7px;
		padding-left: 7px;
	}
}
@media (max-width: 330px) {
	ul {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	li {
		padding: 4px 0 4px 0;
	}
	.indent {
		margin-left: 0;
	}
	.linkList {
		font-size: 15px;
		padding: 0;
	}
	#linkContainer{
		width: 100%;
		min-height: 20px;
		margin: 20px 0 0 0;
		overflow: visible;
	}
	.pageTitle {
		width: 100%;
		margin: 0 40px 0 0;
		padding: 0 40px 0 0;
	}
}
